dataset_paths:
  nyuv2: "dataset/nyuv2"
  cityscapes: "dataset/cityscapes"

training_params:
  mode: "none"
  port: "none"

  # Model parameters
  task: "seg" # all, seg, depth, normal
  dataset: "nyuv2" # nyuv2, cityscapes
  network: "split" # split, mtan
  weight: "equal" # equal, dwa, uncert
  grad_method: "none" # graddrop, pcgrad, cagrad
  with_noise: false # with noise prediction task

  # Training parameters
  total_epochs: 1 # set it to 1 for model merging
  batch_size: 8
  gpu: 1 # gpu ID
  seed: 42

model_merging:
  method: "sum"
  pt_model_file: "models/mtl_model.pt"
  ft_model_files:
    - "models/seg_model.pt"
  dataset: "nyuv2" # nyuv2, cityscapes
  network: "split" # split, mtan
  
  num_tv_coef_points: 2
  specify_lambda: None

# Include other YAML configurations
{% include "config/model_merging/average.yaml.j2" %}
{% include "config/model_merging/consensus.yaml.j2" %}
{% include "config/model_merging/mag_masking.yaml.j2" %}
{% include "config/model_merging/sum.yaml.j2" %}
{% include "config/model_merging/tall_mask.yaml.j2" %}
{% include "config/model_merging/ties.yaml.j2" %}
{% include "config/model_merging/zeroshot.yaml.j2" %}